#resume {
    .container {
        #summary {
            font-size: 20px;
            text-align: left;
        }

        .section-title {
            margin-top: 5%;
        }

        .language-wrapper {
            div {
                padding: 5%;
            }
        }
    }
}